<!DOCTYPE html>
<html>
    <head>
        <title>LunaStep | Login</title>
        {% csrf_token %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'login/main.css' %}">
        <script type="text/javascript" src="{% static 'apis.js' %}"></script>
        <script type="text/javascript" src="{% static 'login/login.js' %}"></script>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
        <meta charset="UTF-8">
        <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="contentDialog">
            <div class="contentDialog-logo">
                lunastep
            </div>
            <div class="contentDialogWrapper">
                <div class="contentDialogWrapper-header">
                    Log In
                </div>
                <div class="contentDialogWrapper-form">
                    <input type="text" placeholder="Username">
                    <input type="password" placeholder="Password">
                    <div class="contentDialogWrapper-form-login">
                        LOGIN
                    </div>
                </div>
            </div>
            <div class="contentDialog-error"></div>
        </div>
    </body>
</html>