*
{
    padding: 0;
    margin: 0;
}

html
{
    background: #f7f8f9;

    font-family: 'Roboto', sans-serif;
    color: #6b7c93;
}

html, body
{
    width: 100%;
    height: 100%;

    overflow: hidden;
}

.headbar
{
    display: flex;
    align-items: center;

    background: #43458b;

    color: white;

    padding: 1em 2em;
}
.headbar-logo
{
    opacity: .7;

    letter-spacing: 1px;
    font-size: 110%;
}
.headbar-super
{
    background: #32325d;

    padding: .5em 1em;

    margin-left: 2em;

    font-size: 80%;
    opacity: .5;

    border-radius: 2em;
}
.headbar-welcome
{
    margin-left: auto;

    font-size: 90%;
    font-family: 'open sans', sans-serif;
    opacity: .5;
}
.headbar-search
{
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-left: 5%;

    position: relative;
}
.headbar-searchWrapper
{
    display: flex;
    align-items: center;

    background-color: #32325d;

    border-radius: 10em;

    padding: .5em 1em;

    transition: background .05s ease-out;
}
.headbar-search-result
{
    display: none;

    position: absolute;
    top: 100%;

    background-color: white;

    width: 100%;

    color: #6b7c93;

    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;

    box-shadow: 0 6px 6px 1px rgba(0,0,0,0.1);

    box-sizing: border-box;

    padding: 1em;

    max-height: 10em;
    overflow-y: auto;
}
.headbar-search-box
{
    margin-left: 1em;

    background: transparent;

    border: none;
    outline: none;

    color: #43458b;
    font-size: 110%;
}
.headbar-search-box:focus
{
    border: none;
    outline: none;
}
.headbar-search-result-node
{
    padding: .5em;
}

.mainWrapper
{
    display: flex;

    height: 100%;
    width: 100%;

    box-sizing: border-box;
}

.navbar
{
    max-width: 25%;
    width: 25%;

    background: #d2dbe0;

    padding: 1em;

    display: flex;
    flex-direction: column;
}
.navbar-heading
{
    font-size: 130%;
    font-family: 'open sans', sans-serif;
    letter-spacing: 1px;

    margin-bottom: 1em;
}
.navbar-node
{
    display: flex;
    align-items: center;

    margin-top: 2em;
    margin-left: 1em;
    
    cursor: pointer;

    transition: all 200ms ease;
}
.navbar-node:hover
{
    opacity: .7;
}
.navbar-node-label
{
    margin-left: 1em;
}

.content
{
    overflow-y: scroll;

    height: 100%;
    width: 100%;
}
.content-section
{
    display: none;
}

.content-people
{
    display: flex;
    flex-direction: column;

    padding: 3em 2em;
}
.people-node
{
    display: flex;
    align-items: center;

    background: white;

    padding: 1em 2em;

    box-shadow: 0 1px 3px 0 #cfd7df;
}
.people-node-crown
{
    margin-left: auto;
    margin-right: 1em;
}

.people-node-more
{
    cursor: pointer;
}
.dialog
{
    margin-left: auto;
}
.dialog:hover .dialog-content
{
    display: flex;
    flex-direction: column;
}
.dialog-content
{
    position: absolute;

    box-shadow: 0 1px 3px 0 #cfd7df;

    background: white;

    padding: .5em 2em 1.5em 2em;

    display: none;

    margin-left: -5em;
}
.dialog-content-node
{
    cursor: pointer;

    margin-top: 1em;

    transition: all .1s ease;

    letter-spacing: 0.03rem;
    font-size: 90%;
}
.dialog-content-node:hover
{
    opacity: .7;
}

.content-header
{
    margin: 1em;

    font-size: 150%;
}
.content-stack
{
    display: flex;
    flex-direction: column;

    box-shadow: 0 1px 3px 0 #cfd7df;

    margin: 0 2em;
}
.content-stack-node
{
    display: flex;
    align-items: baseline;
    flex-direction: column;

    background: white;
}
.content-stack-node-arrow
{
    margin-left: auto;
}
.content-stack-node-header
{
    display: flex;
    flex-direction: row;

    width: 100%;

    cursor: pointer;

    transition: all 100ms ease;

    padding: 1em 2em;

    box-sizing: border-box;
}
.content-stack-node-header:hover
{
    background-color: rgba(0, 0, 0, 0.05);
}
.content-stack-node-spoiler
{
    width: 100%;

    display: none;
}

.loader
{
    width: 30px;
    height: 30px;

    display: none;

    margin: 0 auto;
}